<!-- lang: xml-->
<configuration>
    <include resource="org/springframework/boot/logging/logback/basic.xml" />
    <property name="LOG_PATH" value="${logging.path}"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoder 默认配置为PatternLayoutEncoder -->
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}][%thread][%X{logId}][%F:%L][%p] %m%n</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}</file>
        <!--  <append>true</append>   -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/matrix-process-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>40</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}][%thread][%X{logId}][%F:%L][%p] %m%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="file"/>
    </root>

    <logger name="com.mryx.matrix.process" level="INFO" additivity="true"/>

    <logger name="org.apache.commons.httpclient.HttpMethodBase" level="ERROR" additivity="true"/>

</configuration>