<included>

    <appender name="send-msg" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logBasePath}/send-msg.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/send-msg.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d %p [%t] %c{20} - %m%n</pattern>
        </encoder>
    </appender>

    <logger name="send-msg" level="INFO" additivity="false">
        <appender-ref ref="send-msg"/>
    </logger>

    <logger name="com.mryx" level="INFO" additivity="true"/>

    <logger name="org.apache.commons.httpclient.HttpMethodBase" level="ERROR" additivity="true"/>

</included>