<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration 
PUBLIC "-//ObjectMapper.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!-- changes from the defaults -->
        <setting name="lazyLoadingEnabled" value="false" />
        <setting name="cacheEnabled" value="false"/>
    </settings>

    <typeAliases>
    	<package name="com.mryx.matrix.process.domain"/>
    </typeAliases>

    <mappers>
        <mapper resource="ObjectMapper/ProjectMapper.xml"/>
    </mappers>

</configuration>